$icon-width: 30px;

$header-height: 70px;

$subheader-height: 58px;

$left-sidebar-min-width: 60px;

$left-sidebar-max-width: 200px;

$z-index-page-layout: 1000;

$header-color: #745582;

$subheader-color: #dab6c2;

$sidebar-color: #6a3a4f;

$sidebar-icon-color: #c77a8c;
